<!doctype html>
<html>

<head>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link href="./css/allpage.css" rel="stylesheet">


    <title>小北百貨 ShowBa</title>
</head>

<body>
    <div class="header1">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top header ">
                <img class="img_logo" src="./img/logo.png">
                <a class="navbar-brand" href="index.html">小北百貨 ShowBa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="01.html"> 公司簡介 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="02.html"> 每月DM </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="03.html"> 最新消息 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="04.html"> 門市資訊</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="05.html"> 客服中心 </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    
    <p></p>
       <p></p>

       <p></p>

       <p></p>
    
    
    
    <div class="row justify-content-center">
        
        
        
        
  <div class="col-md-6">

    
    
   <div class=" contactus left" style="border-width:3px;border-style:dashed;border-color:#f29b5e;padding:5px;">
<p></p>
       <p></p>

       <p></p>

       <p></p>

       
                            <p class="text-center">若您對本公司有任何問題或建議歡迎來電  <a href="tel:0800002198">0800-002-198</a> 或填寫以下表單與我們聯繫，客服人員將儘速回覆您。</p>
                            
                            <form class="form_horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-email" ng-submit="ctrl.contact_sub()">
                                <div class="form-group">
                                    <input type="text" id="name" ng-model="ctrl.contact.name" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="您的大名 *" required="">
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" ng-model="ctrl.contact.email" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" placeholder="E-mail *" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="phone" ng-model="ctrl.contact.phone" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="聯絡電話">
                                </div>
                                <div class="form-group"> 
                                    <textarea id="content" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" style="height: 100px;" ng-model="ctrl.contact.content" rows="8" required="" placeholder="留言內容 *"></textarea>
                                </div>
                                <button class="btn btn-lg btn-first center-block" type="submit" style="background-color: #f29b5e; 
    "><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;確認送出</button>
                            </form>
         <ul class="list-unstyled">
             
             </div>
                </div>
       
       
       
         <div class="col-md-6">
  <li class="media ">
    <div class="media-body">
      <h5 class="mt-0 mb-1">常見問題</h5>
      <p style="color:brown;"> Q1.各門市營業時間？
小北百貨全台門市24小時營業、全年無休（台南科工店、台南麻豆店除外）。
        <p style="color:brown;"> Q2.全台門市據點位置？
請至官網【門市資訊】頁面，查詢欲搜尋的門市。
            
        <a class="nav-link"  style="background-color:#f29b5e; "href=".html">查看詳情 </a>
    </div>
  </li>
  <li class="media my-4">
    <div class="media-body">
      <h5 class="mt-0 mb-1">退換貨須知</h5>
     <p style="color:brown;"> 1.根據消基法規定，親至本公司購買之商品並無鑑賞期，故請於購買時立即檢測，若於隔日後外觀刮損、配件短少、文件不齊…等，提出爭議時一律視同購買後人為損害，本公司僅就損害部分辦理維修，恕不接受退換貨。

                <a class="nav-link"  style="background-color:#f29b5e; "href=".html">查看詳情 </a>

    </div>
  </li>
  <li class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">送貨須知</h5>
     <p style="color:brown;"> 1.送貨地點若無電梯僅送至一樓。 

 <p style="color:brown;">2.送貨地點若無電梯，二樓(含)以上之包裝水及飲料，每箱每層需加收5元。
計費方式：樓層加收 X 箱數 = 樓層運費，以10箱水送至二樓
舉例：每箱5元 X 10箱 = 50元（依此類推）

 
                <a class="nav-link"  style="background-color:#f29b5e; "href=".html">查看詳情 </a>

    </div>
  </li>
</ul>
                            </div> 

   </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

<footer class="navbar-fixed-bottom "
>
 <div class="container">
     <h1>INFORMATION</h1>
        <p style="color: brown;">小北總部:台南市安南區科技公園大道15號/客服專線:0800-002-198</p>
        <p style="color: brown;">服務時間:09:00~17:00/客服信箱:service@showba.tw</p>
  </div>
</footer>

    
    
    



</body>

</html>

